
<!-- content starts ==================== -->
  <div id="mainrow" class="row"> 
  <div class="span10">
  <!-- Map ==================== -->
 <iframe width='100%' height='600px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/radproject.map-9z9ogg6u.html#6/34.06176136129718/11.115201431974185'></iframe>
  </div>
  <div class="span6">
    
     <div class="centerContent">
      <h3> Wasted , blanc and cancelled ballots percentage</h3>
         <div dir="ltr" class="circle-stats">
             <div class="circular-item tipB" title="Wasted ballots">
             <span class="icon icon-remove"></span>
            <input type="text" value="" class="greenCircle" />
          </div>                     
           <div class="circular-item tipB" data-toggle="tooltip" title="Cancelled ballots">
              <span class="icon icon-remove-2"></span>
              <input type="text" value="" class="redCircle" />
           </div>
           <div class="circular-item tipB" title="Blanc ballots"> 
             <span class="icon icon-file"></span>                    
              <input type="text" value="" class="blueCircle" />
           </div>

        
          <h1> Wasted /Troica results</h1>
          
          <div class="stacked-bars-chart" style="height: 250px;width:100%;"></div>
         </div><!-- end circle stats-->
     </div><!-- end centerCentent-->



  </div>    
    <!-- vizmenu starts-->
    <div id="vizmenu">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p>
            <nav id="main_menu">
	     <ul class="sf-menu clearfix">
	      <li class="active"><a href="/wasted">Wasted votes</a></li>	
	      <li><a href="#">story placeholder</a></li>
	      <li><a href="#">story placeholder</a></li>
	      <li><a href="#">story placeholder</a></li>
	      <li><a href="#">story placeholder</a></li>
              </ul>
	      </nav>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--vizmenu ends--> 
    
  </div>
  
 
  <!-- ======= general row starts ======= -->
  <div class="row-general"> 
   
    <div class="span5">
      <h1> Wasted per district</h1>
     <div class="wasted-pie" style="height: 230px;width:100%;"></div>
    </div>
    <div class="span9"> 
    <table  class="table table-striped table-bordered table-hover" id="wasted_table">
    </div>
  </div>
  <!-- ======= general row ends ======= --> 
  
 
<!-- content ends
================================================== --> 

<!-- footer starts
================================================== -->

